include *.png
include *.sh
include *.txt
include LICENSE
recursive-include doc *.bat
recursive-include doc *.buildinfo
recursive-include doc *.css
recursive-include doc *.doctree
recursive-include doc *.eot
recursive-include doc *.html
recursive-include doc *.inv
recursive-include doc *.ipynb
recursive-include doc *.js
recursive-include doc *.pickle
recursive-include doc *.png
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc *.svg
recursive-include doc *.ttf
recursive-include doc *.txt
recursive-include doc *.woff
recursive-include doc *.woff2
recursive-include doc Makefile
recursive-include examples *.csv
recursive-include examples *.ipynb
recursive-include examples *.pkl
recursive-include iguanas *.csv
recursive-include iguanas *.ipynb
recursive-include iguanas *.pkl
recursive-include iguanas *.py
recursive-include run_doc *.css
recursive-include run_doc *.md
recursive-include run_doc *.png
recursive-include run_doc *.py
recursive-include run_doc *.rst
recursive-include run_doc *.sh
